.result_link {
    gap: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.1s;
}

.result_link:hover {
    background-color: var(--accent-light);
}

.active {
    background-color: var(--accent);
    color: white;
}

.active:hover {
    background-color: var(--accent);
}


.date {
    font-size: 0.8rem;
    opacity: 0.5;
}

.poster {
    border-radius: 0.1rem;
    background-color: var(--accent-light);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.title {
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.overview {
    font-size: 0.8rem;
    opacity: 0.7;
    text-overflow: ellipsis;
    overflow: hidden;
    /* Only 3 lines */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}