:root {
    --accent-hue: 163;
    --accent-saturation: 100%;
    --accent-lightness: 17%;

    /* Base accent color */
    --accent: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness));

    /* Lighter and darker variations */
    --background: hsl(0, 0%, 98%);
    --accent-light:  hsl(var(--accent-hue), 10%, 93%);
    --accent-medium: hsl(var(--accent-hue), 43%, 77%);
    --accent-dark:   hsl(var(--accent-hue), var(--accent-saturation), 20%);
}



html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    accent-color: var(--accent);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}